@import "./variables";

.contact-container {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	background: url(../assets/img/contact-bg.jpg);
	width: 100%;
	position: relative;
	background-position: center top;
	background-size: cover;
}

.contact-first-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 30px;
}

.contact-first-section-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 1rem;
	width: 100%;
	max-width: 500px;
}

.contact-first-section-input,
.contact-first-section-textarea {
	width: 100%;
	height: 50px;
	background-color: rgba(217, 217, 217, 0.3);
	padding: 10px;
	margin: 10px 0;
	box-shadow: $shadow;
	border: none;
	color: $white-color;
}
.contact-first-section-textarea {
	height: 100px;
	padding: 20px 10px;
}

.contact-first-section-input::placeholder,
.contact-first-section-textarea::placeholder {
	color: $white-color-50;
}

.contact-first-section-button {
	width: 100%;
	height: 50px;
	background-color: #6aaa7d;
	margin: 10px 0;
	border: none;
	box-shadow: $shadow;
	color: $white-color;
}

.contact-first-section-button::value {
	color: $white-color;
}

.contact-second-section {
	width: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.8) 90%);
}

.contact-logo img {
	display: block;
	max-width: 80%;
	margin: 100px auto;
}

.contact-end {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 5vw;
}

.contact-icon {
	width: 70px;
	margin: 10px;
}

.contact-icon-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 200px;
}

.contact-icon-container p {
	text-align: center;
}

.border {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.contact-social-help-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px;
	border-bottom: 1px solid white;
	gap: 1rem;

	img {
		filter: drop-shadow($shadow);
	}
}
.developed {
	padding: 1rem 0.1rem;
	text-align: center;

	a {
		letter-spacing: 1px;
		margin: 0 5px;
		color: inherit;
		font-weight: bold;
		text-decoration: none;

		background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, rgb(255, 255, 255) 50%);
		background-size: 200% 100%;
		background-position: -100%;
		display: inline-block;
		padding: 5px 0;
		position: relative;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: all 0.3s ease-in-out;
	}

	a:before {
		content: "";
		background: #54b3d6;
		display: block;
		position: absolute;
		bottom: -3px;
		left: 0;
		width: 0;
		height: 3px;
		transition: all 0.3s ease-in-out;
	}

	a:hover {
		background-position: 0;
	}

	a:hover::before {
		width: 100%;
	}
}
