@import "./variables";

.header-container {
	background-color: transparent;
	position: fixed;
	top: 30px;
	left: 0;
	width: 100%;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
}
.header {	
	backdrop-filter: blur(3.5px);
	background-color: $white-color-30;
	border-radius: 23px;
	height: 30px;
	padding: 0 15px;
	box-shadow: $shadow;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.header-logo img{
		filter: drop-shadow($shadow);
		width: 60px;
	}

	.header-search {
		flex-grow: 2;
		

		label{
			display: flex;
		}
	}
	#header-search-input {
		border: none;
		outline: none;
		background-color: transparent;
		padding: 5px 10px;
		width: 100%;
		font-size: 14px;
		text-overflow: ellipsis;
		color: $white-color;
	}
	input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
	#header-search-input::placeholder {
		color: $white-color-30;
	}
	.header-search-icon {
		width: 30px;
		height: 30px;
	}

	nav.desktop {
		display: none;
	}

	.header-icons{
		display: flex;
		align-items: center;
		
		a{
			height: 30px;
			svg{
				height: 100%;
				width: auto;
				filter: drop-shadow($shadow);
			}
		}
	}
	.burger-btn{
		background: none;
		border: none;
		cursor: pointer;
		height: 30px;
		width: auto;
	}
}
.mobile-menu{
	display: none;
	align-items: center;
	justify-content: space-between;
	width: 85%;
	background-color: rgba(77, 77, 77, 0.3);
	padding: 8px 24px;
	border-radius: 5px;
	gap: 2px;
	z-index: 1;

	a{
		text-decoration: none;
		color: $white-color;
		font-family: $primary-light-font;
		text-shadow: $shadow;

		&.active {
			font-family: $primary-bold-font;
		}
	}
}
nav.open{
	display: flex;
}
