.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 300px;
    margin: 20px 50px;
    padding: 20px;
}

.card p{
    text-align: justify;
}

.card-price-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-thumbnail{
    width: 15%;
    margin: 5px;
    border-radius: 3px;
}

.card-thumbnail-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-title{
    margin: 5px 0px;
}

.card-circle{
    background-color: #6AAA7D;
    
border-radius: 50%;
 
    width: 13px;
    height: 13px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;

}

.card-circle-plus{
    color: rgb(56, 56, 56);
    font-weight: 900;
    font-size: 25px;
    
    


   position: absolute;
   top: -10px;
   right: 1px;
    
}


.card-cart-container{
    position: relative;
}