.section-title{
	padding: 5px 5px 5px calc(30px + 5vw);
	width: max-content;
	position: relative;
	margin-bottom: 16px;
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: $shadow;
}

.underline{
	position: absolute;
	height: 15px;
	right: 0;
	left: 0;
	background-image: linear-gradient(-45deg, rgba(217, 217, 217, 0.3) 50%, rgba(255, 255, 255, .3) 50%);
}