@import "./variables.scss";
@import "header";
@import "hero";
@import "section-title";
@import "carousel";
@import "contact";
@import "item";
@import "products";

body {
	background-color: #111;
	color: $white-color;
	font-family: $primary-font;
}
