$white-color: #f9f7f7;
$black-color: #101a14;
$blue-color: #233186;
$green-color: #61a355;
$light-green-color: #6aaa7d;

$white-color-30: rgba(255, 255, 255, 0.3);
$white-color-50: rgba(255, 255, 255, 0.5);

$primary-font: "Louis George Cafe", sans-serif;
$primary-light-font: "Louis George Cafe Light", sans-serif;
$primary-bold-font: "Louis George Cafe Bold", sans-serif;
$secondary-font: "Helvlight Regular", "Open Sans", sans-serif;

$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
