* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: "Louis George Cafe";
	src: local("./fonts/Louis George Cafe.ttf"), url("./fonts/Louis George Cafe.ttf") format("truetype");
}
@font-face {
	font-family: "Louis George Cafe Light";
	src: local("./fonts/Louis George Cafe Light.ttf"), url("./fonts/Louis George Cafe Light.ttf") format("truetype");
}
@font-face {
	font-family: "Louis George Cafe Bold";
	src: local("./fonts/Louis George Cafe Bold.ttf"), url("./fonts/Louis George Cafe Bold.ttf") format("truetype");
}
@font-face {
	font-family: "Helvlight Regular";
	src: local("./fonts/Helvlight Regular.ttf"), url("./fonts/Helvlight Regular.ttf") format("truetype");
}

html{
	scroll-behavior: smooth;
}